body {
  height: 100vh;
  background-image: url('../../assets/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.heart {
  position: relative;
  width: 600px;
  height: 600px;
  color: #fff;
  i {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('./image/huaji.png');
    background-size: 100% 100%;
    display: inline-block;
  }
}

@keyframes rotate {
  50% { transform: rotate(20deg) }
}

@keyframes shakeRight {
  0% { transform: translateX(0) }
  100% { transform: translateX(10px) }
}

@keyframes shake {
  0% { transform: translateX(0) }
  33% { transform: translateX(-10px) }
  66% { transform: translateX(10px) }
  100% { transform: translateX(0) }
}